<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <title>搜索结果</title>
</head>
<body>
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary menu stackable">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" th:href="@{/}" class="m-item item m-mobile-hide">首页</a>
                <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide">分类</a>
                <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide">标签</a>
                <a href="#" th:href="@{/archives}" class=" m-item item m-mobile-hide">归档</a>
                <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide">关于我</a>
                <div class="right item m-item m-mobile-hide">
                    <form  name="search" action="#" th:action="@{/search}" method="post" >
                        <div class="ui icon input">
                            <input  type="text" name="query" placeholder="Search...." th:value="${query}">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-padded-tb-large m-container-small">
      <div class="ui container">
          <!--header-->
          <div class="ui top attached segment">
              <div class="ui middle aligned two column grid">
                  <div class="column">
                      <h3 class="ui teal header">搜索结果</h3>
                  </div>
                  <div class="column right aligned">
                      共<h2 class="ui orange header m-inline-block " th:text="${page.total}">14</h2>个
                  </div>
              </div>
          </div>
          <!--列表-->
          <div class="ui attached segment m-padded-tb-large large">

          </div>
          <!--文章列表-->
          <div class="ui top teal attached segment">
              <div class="ui padded vertical segment m-padded-tb-big" th:each="blog : ${page.list}">
                  <div class="ui middle aligned mobile reversed stackable grid" >
                      <div class="eleven wide column">
                          <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗</a></h3>
                          <p class="m-text"  th:text="|${blog.description}......|">
                              简单说来，财富自由就是有足够多的时间和足够多的钱做你想做的事情。在“基本”的生活需求得到“持续”保障的前提下，有足够的资本可以“自由”的投入到“该”做的事情中！
                          </p>
                          <div class="ui grid">
                              <div class="eleven wide column">
                                  <div class="ui horizontal link list">
                                      <div class="item">
                                          <img src="../static/images/avator.jpg" th:src="@{/images/avator.jpg}" alt="" class="ui avatar image">
                                          <div class="content" ><a class="header" href="#" th:text="${blog.user.nickname}">曾洪</a> </div>
                                      </div>
                                      <div class="item">
                                          <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                                      </div>
                                      <div class="item  ">
                                          <i class=" eye icon"></i><span th:text="${blog.views}" >2342</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="five wide column right aligned">
                                  <a href="#" target="_blank" class="ui label teal basic m-text-thin m-padded-mini " th:text="${blog.type.name}">认知升级</a>
                              </div>
                          </div>
                      </div>
                      <div class="five wide column">
                          <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                              <img src="https://picsum.photos/800/400/?blur=2" th:src="@{${blog.firstPicture}}" class="ui rounded image">
                          </a>
                      </div>
                  </div>
              </div>

          </div>

          <div class="ui bottom attached segment">
              <div class="ui middle aligned two column grid" th:if="${page.pages}>1">
                  <div class="column">
                      <a href="#" th:href="@{/(page=${page.hasPreviousPage}?${page.prePage}:1)}" th:unless="${page.isFirstPage}" class="ui teal basic mini button">上一页</a>
                  </div>
                  <div class="column right aligned">
                      <a href="#" th:href="@{/(page=${page.hasNextPage}?${page.nextPage}:${page.pages})}" th:unless="${page.isLastPage}" class="ui teal basic mini button">下一页</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!--底部-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column ">
                    <h4 class="ui inverted header m-opacity-mini m-text-spaced">QQ交流群</h4>
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/qqjiaoliuqun.png" th:src="@{/images/qqjiaoliuqun.png}" alt="" class="ui rounded image" style="width:120px ">
                        </div>
                    </div>
                </div>
                <div class="three wide column ">
                    <h4 class="ui inverted header m-opacity-mini m-text-spaced">微信公众号</h4>
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/gongzonghao.jpg" th:src="@{/images/gongzonghao.jpg}" alt="" class="ui rounded image" style="width:120px ">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-opacity-mini m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item m-text-thin  m-text-spaced">Email:ami_zh@163.com</a>
                        <a href="#" class="item m-text-thin  m-text-spaced">QQ:2237933873</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-opacity-mini m-text-spaced">Blog</h4>
                    <p class="m-text-thin m-opacity-mini m-text-spaced">这是我的个人博客，我会在此分享关于一些个人经历以及编程知识，我会不定期进行更新。感谢您的访问</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">终于等到你：<span id="htmer_time" class="item m-text-thin"></span> </div>
            <p class="m-text-thin m-opacity-mini m-text-spaced">&copy;蜀ICP备1000001</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    document.getElementById("fm").submit();

    //===================分割线========================
    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2020, 07, 30, 15, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
    //===================分割线========================
</script>
</body>
</html>